    
<div class="about col-10 offset-1 shadow-box" id="about">
  <h2>About</h2>
  	<br />
    <p>Amy Henning is a Korean Adoptee located in Denver, Colorado. She was born in Busan, South Korea, and grew up in the suburbs of Chicago.
    </p>
    <p>Although she attended culture camps as a child, she lost touch with the adoptee community when she started high school. When she reconnected with the community as an adult approaching her 30s, she was overwhelmed by the sheer number of resources and opportunities available to adoptees and noticed many people asking similar questions in adoptee groups.
    <br /><br/>
    Amy created the KAD Library in an effort to streamline access to the incredible volume of information about the international KAD community, resources for exploring KAD identity, and opportunities to connect with the community.</p>
</div>
