<div class="about col-10 offset-1 shadow-box" id="about">
	<h2>How to Contribute</h2>
	<br />

	<b>Join the community</b>
	<br />
	<%= link_to 'Sign up', new_user_registration_path %> for an account to join the community.
	<br /><br />

	<b>Create a resource</b>
	<br />
	Can't find the resource you want? Have something exciting to share with the community? Submit a resource <%= link_to 'here', new_resource_path %>.
	<br /><br />
	
	<b>Review resources</b>
	<br />
	If you have experience with a resource you see on the site, share your perspective by leaving a review on the resource's page.
	<br /><br />

	<b>Share your feedback</b>
	<br />
	<%= link_to 'Get in touch', contact_path %> with us to share your ideas or feedback!
	<br />
</div>