<div class="about col-10 offset-1 shadow-box" id="about">
  <h2>FAQ</h2>
  <br />
	<b>What is the Korean Adoptee Library?</b>
	<br />
	The Korean Adoptee Library (KAD-Library) is a platform for adoptees to contribute, learn about, and review resources for adoptees in a variety of categories.
	<br /><br />

	<b>Who can use the Korean Adoptee Library?</b>
	<br />
	The Korean Adoptee Library is primarily intended to allow adoptees to contribute resources that are meaningful to them, curate their own lists of relevant resources, and build community with other users. Adoptive families can use the platform as well.
	<br /><br />

	<b>How can I contribute a resource?</b>
	<br />
	To contribute, please first <%= link_to 'sign up', new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %> to the site. Then, you can visit the <%= link_to 'Submit a Resource', new_resource_path %> page and add your contribution. Please note that, initially, all submissions are flagged for review. Upon approval, your resource will be added to the site.
	<br /><br />

	<b>How long will it take for my submission to be approved?</b>
	<br />
	Submissions are reviewed by a volunteer team and will be processed as volunteer capacity allows.
</div>
