<div class="about col-10 offset-1 shadow-box" id="about">
  <h2>FAQ</h2>
  <br />
	<b>What is the Korean Adoptee Library?</b>
	<br />
	The Korean Adoptee Library (KAD-Library) is a platform for adoptees to contribute, learn about, and review resources for adoptees in a variety of categories.
	<br /><br />

	<b>Who can use the Korean Adoptee Library?</b>
	<br />
	The Korean Adoptee Library is primarily intended to allow adoptees to contribute resources that are meaningful to them, curate their own lists of relevant resources, and build community with other users. Adoptive families can use the platform as well.
	<br /><br />

	<i>More to come...</i>  	
</div>
