<div class="container hero">
  <div class="row align-middle col-10 offset-1">
    <div class="hero-text col-12 col-md-7 my-auto">
      <h3>Welcome to the Korean Adoptee Library</h3>
  	    A comprehensive resource library for KADs. Curated by adoptees for adoptees.
  		  <br /><br />
  	  <%= link_to 'Get Started', start_here_path, class: 'btn btn-outline-secondary' %>
    </div>
    <div class="col-12 col-md-5 my-auto">
      <%= image_tag 'flag.png', class: 'hero-image' %>
    </div>
  </div>
</div>