<div class="container hero">
  <div class="row col-10 offset-1 page-row align-middle">
    <div class="hero-text my-auto">
      <h2>
        What are you looking for?
       </h2> 
    </div>
  </div>
</div>


<div class="shadow-box col-10 offset-1">
	<h2>Birth Family Search</h2>
	Check out information on adoption agencies, DNA testing, as well as KAD-Run organizations that can assist you in your search.

	<br /><br />

	<h2>Building Community</h2>
	Look into local groups in your area (or in areas that you are visiting soon!). If you are looking for information for your child who is a KAD, there are many resources for kids that allow young people to form community with other adoptees, including summer camps. Many adoptees connect with the community at annual events.

	<br /><br />

	<h2>Traveling to Korea</h2>
	There are many tours that go to Korea, each with different itineraries and purposes. Learn more about them here! You may also want to check out travel tips from fellow KADs.
	
	<br /><br />

	<h2>Learning</h2>
	Korean adoptees are authors, creators, musicians, artists, and more. Their work is showcased in the Film, TV, and Music section. You may also want to check out books by and for adoptees.
</div>
