<div class="container hero">
  <div class="row align-middle col-10 offset-1">
    <div class="hero-text col-12 col-md-7 my-auto">
    	<h3>Welcome to the Korean Adoptee Library</h3>
  	<p>A comprehensive resource library for KADs.
  		<br />
  		Created by adoptees, for adoptees.</p>		
  	<a href="#about" class="btn btn-outline-secondary">Learn more</a>
    </div>
    <div class="col-12 col-md-5 my-auto">
      <%= image_tag 'flag.png', class: 'hero-image' %>
    </div>
  </div>
</div>
    
<div class="about col-12" id="about">
  <h2 class="text-center">About</h2>
    <p>Amy Henning found the Korean Adoptee (KAD) community in 2017 after a long absence following attending culture camp as a child. She was overwhelmed by the sheer number of resources and opportunities available to adoptees and noticed many people asking similar questions in adoptee groups.
    <br /><br/>
    The KAD Library was created in an effort to streamline access to the incredible volume of information about the international KAD community, resources for exploring KAD identity, and opportunities to connect with the community.</p>
</div>
