html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#flex-content-container {
	flex: 1;
}

#footer {
	position: relative;
	width: 100%;
	min-height: 100px;
	background-color: #fff;
	color: #292b2c;
	font-family: 'Lato', sans-serif;
	padding: 10px 0px;
	margin-top: 30px;
	font-size: 14px;
	box-shadow: 1px 1px 1px 1px #2a2a2a;

}

#footer a {
	color: #009FFF;
	text-decoration: none;
}