@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato|Spinnaker');

body {
	font-family: 'Lato', sans-serif;
	color: #636c72;
	background-color: #edf5f9;
}

a {
	color: #009FFF;
}

a:hover {
	color: #006aa0;
	text-decoration: none;
}

.clear {
	clear: all;
}

.navbar {	
	font-family: 'Lato', sans-serif;
}

.navbar .navbar-brand {
	color: #009FFF;
	font-family: 'Spinnaker', sans-serif;
}

.navbar-light a.navbar-brand {
	font-size: 40px;
	color: #009FFF;
}

.navbar-light .navbar-brand:hover {
	color: #006aa0;
}

.bg-primary {
	background-color: #fff !important;
}

.hero {
	background: #009FFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  margin-top: 0px;
  padding: 10px;
}

.hero-text {
	color: #fff;
}

.hero-text h2 {
	margin: 0px;
}

.hero-image {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	box-shadow: 5px 5px 26px 2px rgba(0,0,0,0.21);	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 0.25rem;
}

.page-row {
	min-height: 125px;
}

.btn-outline-secondary {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary {
	color: #fff;
	background-color: #009FFF;
	border-color: #009FFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #006aa0;
  border-color: #006aa0;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.about {
	margin-top: 20px;
}

.about h2 {
	color: #ec2F4B;
	font-family: 'Spinnaker', sans-serif;
}

.row {
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
  flex-flow: row wrap;
}

.align-middle {
  align-items: center;
}

.shadow-box {
	padding: 30px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 0.25rem;
}

.reviews-shadow-box {
	padding: 30px;
  margin-top: 30px;
  border-radius: 0.25rem;
}

.mx-3 {
	margin-left: $spacer;
	margin-right: $spacer;
}

.shadow-box h2 {
	margin: 0;
	padding: 0;
	color: #ec2F4B;
	font-family: 'Spinnaker', sans-serif;
}

.resource {

}

.fa-external-link {
	font-size: 10px;
	vertical-align: super;
}

.fa-large {
	font-size: 1.5em;
}

.field_with_errors {
	padding: 1px;
	background-color: #ec2F4B;
	display: table;
}

.pagination {
	justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #009FFF;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #009FFF;
  border-color: #009FFF;
}

blockquote {
	padding: 30px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
	background: #fff;
	border-top: 1px solid #d2d7db;
}

.fa-star {
	color: #ec2F4B;
}

.fa-star-o {
	color: #ec2F4B;
}

hr {
	background-color: #d2d7db;
}

.add-bookmark {
	display: default;
}

.remove-bookmark {
	display: hidden;
	}